.title {
    margin-top: 0;
}

.item {
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
}

.remove {
    
    margin-left: 15px;
    cursor: pointer;
}
.remove:focus,
.remove:hover {
    color:blue;
}