.navbar {

    padding: 15px 10px;
    background: rgb(9, 73, 121);
    background: linear-gradient(193deg, rgba(9, 73, 121, 0.4150035014005602) 49%, rgba(0, 255, 252, 1) 100%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}